#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



.credit-card{
  /* aspect-ratio:1.6/1; */
  perspective: 1000px;
  color: rgb(210, 206, 206);
  text-shadow: 1px 2px  rgb(17, 22, 17);
  font-size: 1.2rem;
  letter-spacing: 4px;
  
  width: 330px;
  height: 210px;
  border: black solid 2px;
  border-radius: 6%;
  background: linear-gradient(45deg,rgb(25, 25, 135),slateblue) ;  
  position: relative   ;
  font-weight: bold;
  box-shadow: 2px -2px 2px black;
  margin-bottom: 20px;
 
}
.card-container {
  perspective: 1000px; /* Creates depth perception */
  position: relative;
 height: 300px;
 width: 300px;
}
.card{
 
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}
.card-container:hover > .card {
transform: rotateY(180deg);
}
.card.rotated{
transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden; /* Hide the back face during rotation */
;
 
}
.card-back {
  transform: rotateY(180deg); /* Initially rotate back card by 180 degrees */
}



.removal-button{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index:  100;
 position: absolute;
  right: -60px;
 top: -10px;
  background-color: red;
  padding: 2px;
 border-radius: 12%;
  cursor: pointer;
  border: 2px rgba(0, 0, 0, 0.432) inset;
  box-shadow: 2px 2px rgb(57, 25, 25);
}
 /* .Mastercard{
  background: linear-gradient(45deg,rgb(135, 25, 25),slateblue) ;  
}

.Visa{
  background: linear-gradient(45deg,rgb(25, 25, 135),slateblue) ;  
}
.AmericanExpress{
  background: linear-gradient(45deg,rgb(29, 135, 25),slateblue) ;  
}  */
.card-number{
  outline: invert;
  position: absolute;
  left: 40px;
  top: 45%;
}
.vendor-logo .Mastercard{
  background-color: red;
}
.vendor-logo {
  /* height: 40px; */
  width: 60px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  
}
.card-holder{
color: rgb(225, 225, 225);
font-size: 0.7rem;
position: absolute;
bottom: 4%;
left: 4%;
}
.expiration-date{
font-size: 12px;
position: absolute;
bottom: 14%;
left: 44%;
}

.card-chip{
  width: 44px;
  position: absolute;
  left: 40px;
  top: 35%;
  box-shadow: 1px 1px black,-1px -1px 2px black;
}
.valid-through{

}
.barcode{
  margin-top: 10px;
  width: 100%;
  min-width: 300px;
  height:50px;
  background-color: black;
}
.CCV-div{
  width: 80%;
  height: 40px;
  background-color: white;
  color: black;
  text-align: right;
  text-shadow: 0 0 0;
  margin-left: 10px;
  margin-top: -10px;
}

.backside-lorem{
  font-size: 8px;
}